#EditArea{
    margin:0;
    padding:0;
    position: absolute;
    top:100px;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 30px;
}

#EditArea .ant-timeline{
    margin-right: 20%;
    margin-left:10%;

}

#EditArea .senitem{
    padding-bottom: 0 !important;
}

#EditArea .ant-typography-edit-content{
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 1.2rem;
}

#EditArea .senitem .senbuttons{
    margin-top: 4px;
    margin-bottom: 9px;
}

#EditArea .infoitem .infobuttons{
    margin-bottom: 5px;

}

/* toucharea选择触碰到哪些区域显示BC, hovershow选择所有元素的大框【ABC】, conshow选择里面常显的部分A：https://blog.csdn.net/ylfff/article/details/112437373*/

#EditArea .hovershow{
    visibility: hidden;
}
#EditArea .hovershow .conshow{
    visibility: visible;
}
#EditArea .toucharea:hover .hovershow{
    visibility: visible;
}

