#DataIOArea{
    /* 悬浮居中 */
    position:fixed;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    z-index: 999;
}
#DataIOArea .hovershow{
    visibility: hidden;
}

#DataIOArea .hovershow:hover{
    visibility: visible;
}

#DataIOArea .hovershow .conshow{
    visibility: visible;
}